@charset "UTF-8";

.s2{
    position: relative;
    background-image: url("../imagens/fundo-texto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    padding: 20px;
    text-align: center;
    width: 60%;
}

.s2 h1 {
    font-size: 3.5em;
    font-style: italic;
}

.s2 p {
    margin: 40px 2%;
    font-size: 1.3em;
    text-align: justify;
}

.s2 img {
    position: absolute;
    height: 100%;
    width: 36%;
    top: 0;
    right: 0;
}



@media all and (max-width: 533px) {
.text{
    padding-left: 5px;
}
} 