@charset "utf-8";


* {
    padding: 0;
    margin: 0;
    color: #0B3667;
}

html,body {
    height: 100vh;
    width: 100vw;
    text-shadow: #0B3667 1px 1px 4px;
    overflow: hidden;
}

header {
    text-align: center;
    position: absolute;
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to bottom, grey, transparent);
}

.counteiner {
    height: 80%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../imagens/fundo11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: black 2px 2px 8px;
}

.box {
    height: 400px;
    width: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../imagens/textura04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black 1px 1px 6px;
    overflow: hidden;
}

.box>p {
    font-size: larger;
    font-weight: bold;
    padding: 20px 20px 0 20px;
}

.box>h1 {
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}

.box>img {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 180px;
    width: 200px;
    margin: auto;
}

.box>h2 {
    text-align: center;
}

.box>ul {
    position: relative;
    padding: 0 20px;
    font-weight: bold;
    list-style: inside;
    columns: 2;
}

.box>ul>li {
    padding: 5px;
}

footer {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 0.9em;
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to top, grey, transparent);
}

footer>p {
    padding-top: 10px;
}

@media all and (max-width: 833px) {
    .box {
        font-size: 0.5em;
        height: 40vh;
    }
    .box>img{
        left: 92%;
        height: 110px;
        width: 140px;
    }
    .box{
        height: 300px;
        width: 500px;    
    }
}

@media all and (max-width: 533px) {
    .box {
        font-size: 0.4em;
        height: 40vh;
    }

    .box>img {
        top: 92%;
        left: 90%;
        height: 70px;
        width: 90px;
    }
    .box{
        height: 250px;
        width: 300px;
    }
}